body {
    background: #b0b0b0;
    margin: 0px;
    color: #FFFFFF;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Slabo 27px', serif;
    text-rendering: optimizeLegibility !important;

}

.topo{
    margin-top: -1.07vw;
    text-align: center;
    font-size: 0.715vw;
    height: 3.574vw;
    width: 100%;
    display:block;
    background-color: #000000;
}

#titulo{
    display:block;
    margin-top: 1.07VW;
    position: relative;
    top: 0.57vw;
}



#progresso{
    display: block;
    height: 1.0139416983523446vh;
    position: relative;
    margin-top: 2.5348542458808616vh;
    width: 100vw;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
    list-style-type: none;
    padding: 0px;
    background-color: #b0b0b0;
}

.bars{
    display: inline-block;
    margin: 0px;
    
}

#to-do-bar{
    background-color: #9e0000;
}

#in-p-bar{
    background-color: #0018b5;
}

#rmk-bar{
    background-color: #1e6ec9;
}

#complete-bar{
    background-color: #0d9c00;
}

.interface{
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#lista-interface{
    list-style-type: none;
    display: flex;
}

.itens-interface{
    display: inline-block;
    margin: 4px;
    background-color: white;
    width: 22.8734810578985VW;
    height: 87.45247148288973vh;
    max-width: 22.8734810578985VW;
    max-height: 85.45247148288973vh;
    border-radius: 4px;
    box-shadow: 0px 0px 4px rgba(0,0,0,.6);
    overflow: auto;
}

.font-l{
    font-size: 1.9011406844106462vh;
    padding-left: 0.7147962830593281VW;
    padding-top: 1.0139416983523446vh;
    
    
}

.topo-interface{
    background-color: black;
    width: 22.8734810578985VW;
    height: 4.435994930291508vh;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-top: -1.64765525982256vh;
    
}

#to-do .topo-interface{
    border-bottom: solid 5px #9e0000;
}

#in-p .topo-interface{
    border-bottom: solid 5px #0018b5;
}

#rmk .topo-interface{
    border-bottom: solid 5px #1e6ec9;
}

#complete .topo-interface{
    border-bottom: solid 5px #0d9c00;
}

.tarefas{
    display: block;
    width: 20.014295925661184VW;
    height: 12.674271229404308vh;
    background-color: white;
    margin: 1.9011406844106462vh 1.4295925661186561VW 0px 1.4295925661186561VW;
    /* border: solid 2px #36cc14; */
    border-radius: 8px;
    color: #000000;
    position: relative;
    
}

#to-do .tarefas{
    border: solid 2px #9e0000;
}

#in-p .tarefas{
    border: solid 2px #0018b5;
}

#rmk .tarefas{
    border: solid 2px #1e6ec9;
}

#complete .tarefas{
    border: solid 2px #0d9c00;
}

.titulo-ef{
    margin-left: 0.7147962830593281VW;
    margin-top: 1.2674271229404308vh;
    border: none;
    outline: 0px;
    width: 90%;
    resize: none;
    font-weight: bold;
    height: 1.9011406844106462vh;
    overflow: hidden;
}

.conteudo-ef{
    margin-top: 0px;
    margin-left: 0.7147962830593281VW;
    width: 90%;
    height: 6.337135614702154vh;
    outline: 0px;
    resize: none;
    border:none;

}

.body-list{
    margin: 0px;
    overflow: auto;
    max-height: 79.21419518377692vh;
}

.body-list::-webkit-scrollbar{
    width: 0px;
}

.animatezoom {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
  
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

textarea::-webkit-scrollbar {
    width: 3px;
}